* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(155, 155, 155)  
}

.WRAPPER {
    width: 800px;
    margin: 10 auto;
    background-color: #ffffff;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
    border-radius: 4px;
}

h1,h3 {
    text-align: center;
}
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    padding-top:10px;
    font-size: 55px;
    margin-left: 15px;
}
.grey_background {
    background-color: #D0CECE;
}
.left{
    float:left;
}

.right {
    text-align: right;
}
.project-title {
    padding-bottom: 3px;
    margin: 0 5 0 5;
}

.column {
     float: left;
}

.move-left {
    clear : both;
}
#body {
    clear: both;
}

#h_name{
    text-align: left;
    /* font-family: 'Source Serif Pro', serif; */
    font-family: 'Times New Roman', Times, serif;
}

#h_info {
    padding-top:10px;
    text-align: right;
    margin-right: 15px;
    margin-bottom: 10px;
}
#techskills {
    margin: 0 20 0 20;
}

ul, li {
    margin: 7px;
}

.project-description {
    margin: 0 7 0 7;
}

.quote-class{
    margin: 40 auto;
    width: 700px;
    color: #444;
    
}
#quote {
    text-align: center;
    font-style: italic
}

#author {
    margin-top: 20px;
    text-align: center;
    font-size: 90%
}
.project-description-space {
    margin-bottom:10px;
}

#download {
    border-radius: 30px;
    border: 2px solid;
    /* box-shadow: 3px 7px #888888; */
}

.download-container {
    margin: 20 auto;
    width:fit-content;
}

img:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a:link, a:visited, a:hover {
    color: black;
}

.school {
    float:left;
}

.state {
    text-align: right;
}